@import 'colors.less';

/* variables */
    @treeview-header-color:         @color_blue;
    @treeview-header-text-size:     1.1em;
    @treeview-header-text-color:    @color_white;

    @treeview-color:                transparent;
    @treeview-text-size:            @global-font-size;
    @treeview-text-color:           @color_black;

    @treeview-stripe-mode:          false;
    @treeview-striped-color:        transparent;

    @treeview-hover-color:          @color_light_blue;
    @treeview-hover-text-color:     @color_white;

    @treeview-line-vertical-padding:5px;

    @treeview-img-size:             1.5em;

    @treeview-select-color:         @color_blue;
    @treeview-select-text-color:    @color_black;

.treeview {
    /* block link when not active */
    *:link {
        pointer-events: none;
    }

    .selected *:link{
        pointer-events: auto;
    }
}

/* style */
.treeview, .modal-body {
    font-size:                  @treeview-text-size;
    color:                      @treeview-text-color;
    margin-top:                 5px;


    > table.tree {
        > thead > tr:first-child th {
            background-color:       @treeview-header-color;
        }
    }
}

/* style */
.treeview, .modal-body {
    font-size:                  @treeview-text-size;
    color:                      @treeview-text-color;
    margin-top:                 5px;


    > table.tree {
        // Remove 1px to tree view to hide scroll bar by default
        width:                  calc(100% - 1px);
    }

    /* body */
    .table > tbody > tr {
        background-color:       @treeview-color;
        & > td {
            padding-top:        @treeview-line-vertical-padding;
            padding-bottom:     @treeview-line-vertical-padding;
        }
        img {
            height:             @treeview-img-size!important;
            width:              @treeview-img-size!important;
            margin-top:         -5px;
            margin-right:       0.25em;
        }
    }

    /* strip */
    .table-striped>tbody>tr:nth-of-type(odd) {
        background-color:       @treeview-color;
        & when (@treeview-stripe-mode = true) {
            background-color:   @treeview-striped-color;opacity: 0.2;
        }
    }

    /* hover */
    .table-hover > tbody > tr:hover {
        background-color:       @treeview-hover-color;
        color:                  @treeview-hover-text-color;
        .glyphicon {
            color:              @treeview-hover-text-color;
        }
        *:not(.dropdown-menu) > link {
            color: @treeview-hover-text-color;
        }
    }

    /* treefooter */
    .treefooter > .btn {
        font-size:              @treeview-text-size!important;
    }

}

/* tree view selections */
.treeview, .modal-body .treeview {

    .selection-state {
        display: none;
    }

    .selected {
        background-color:   transparent;
        color:              @treeview-select-text-color;
        border:             2px solid @treeview-select-color;
    }

}

/* header */
thead {
    background-color:       @treeview-header-color;
    color:                  @treeview-header-text-color;
    font-size:              @treeview-header-text-size;
}
